@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Sacramento&display=swap");
:root {
  --highlight-bg: pink;
  --highlight-color: black;
  --navbar-bg: rgb(244, 9, 115);
  --primary-color: rgb(167, 100, 249);
  --secondary-color: rgb(244, 9, 115);
  --bg-color: rgb(244, 242, 255);
  --font-color: rgb(14, 15, 63);
  --font-secondary-color: rgb(119, 122, 170);
  --bg-secondary-color: rgb(32, 38, 154);
  --border-radius: 10px;
  --border-radius-btn: 35px;
  --btn-secondary: rgba(159, 142, 161, 0.78);
  --btn-hover: #f7f7f7;
  --btn-hover-purple: rgb(167, 100, 249);
  --text-primary: rgb(244, 9, 115);
  --footer-bg: #f7f7f7;
  --font-primary: "Comfortaa", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-logo: "Pacifico", sans-serif;
}
